@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Sans-serif';
}

.container {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
}

.hero {
    background-color: #23424A;
    color: white;
    padding: 100px 0;
}

.hero__text {
    width: 70%;
}

.hero p {
    margin-bottom: 3em;
}

.btn {
    background-color: #38CFD9;
    padding : 12px;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 800;
    border-radius: 100px;
}

.btn:hover,
.btm:focus {
    opacity: 0.75;
}

.row {
    display: flex;
}
.col {
    width:100%;
    text-align: center;
    line-height: 24px;
}
.col + .col {
    margin-left: 20px;
}

.section-2 {
    padding: 3rem;
}

.section-3 {
    background-color: #136C72;
    padding: 3rem;
    color: white;
}